<a href="https://colab.research.google.com/github/WARP32/CSC221_ALIPP001/blob/main/Assignment9_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Takes text as an input and tells a short story using the name provided

In [ ]:
def func1():
  text = input("What is your name?\n")
  print(f"There was once a person named {text}.\nThey were grading assignments and were having a great time looking through their students creative uses of code.\nMaybe it was just a dream or maybe it was a real thing that one could only hope to happen.")

In [ ]:
func1()
func1()

What is your name?
Andrew
There was once a person named Andrew.
They were grading assignments and were having a great time looking through their students creative uses of code.
Maybe it was just a dream or maybe it was a real thing that one could only hope to happen.
What is your name?
oasjdoaisjd982j9*(@*EJ(@*e(*@
There was once a person named oasjdoaisjd982j9*(@*EJ(@*e(*@.
They were grading assignments and were having a great time looking through their students creative uses of code.
Maybe it was just a dream or maybe it was a real thing that one could only hope to happen.

Takes a variable number of arguments as an input

In [ ]:
def func2(a, b, c=892):
  sum = a + b + c
  print(f"{sum} is the sum of {a}, {b}, {c}.")

In [ ]:
func2(81, 287, 28)
func2(928, 82)

396 is the sum of 81, 287, 28.
1902 is the sum of 928, 82, 892.

Returns multiple items

In [ ]:
def func3(a, b, c):
  print(a, b, c)

In [ ]:
func3(1984, "Lead", [1, 2, 3])
func3("Animal", 283, ["cat", "dog", "frog"])

1984 Lead [1, 2, 3]
Animal 283 ['cat', 'dog', 'frog']

Uses sorting

In [ ]:
def func4(a, b, c):
  list = [a, b, c]
  sort = sorted(list)
  print(sort)

In [ ]:
func4(21039029, 1231235, 9128371)
func4("asuda", "poikdpqwk", "zjxiuahw")

[1231235, 9128371, 21039029]
['asuda', 'poikdpqwk', 'zjxiuahw']

Uses a dictionary

In [ ]:
def func5(name, age, city):
  person = {
    "name": name,
    "age": age,
    "city": city
  }
  print(person)

In [ ]:
func5("Andrew", 21, "Plattsburgh")
func5("Jason", 20, "Hamilton")

{'name': 'Andrew', 'age': 21, 'city': 'Plattsburgh'}
{'name': 'Jason', 'age': 20, 'city': 'Hamilton'}

Solves a puzzle using guessing and checking

In [ ]:
def func6(number, epsilon=0.01):
    guess = number / 2.0
    while abs(guess**2 - number) > epsilon:
        guess = (guess + number / guess) / 2.0
    print("{:.2f}".format(guess))

In [ ]:
print("Approxomite square roots.")
func6(25)
func6(100)
func6(283129831928)

Approxomite square roots.
5.00
10.00
532099.46

Performs a tricky mathmatical computation

In [ ]:
def func7(number):
  sum1 = 0
  for i in range(1, number):
      if(number % i == 0):
          sum1 = sum1 + i
  if (sum1 == number):
      print(f"{number} is a Perfect number!")
  else:
      print(f"{number} is not a Perfect number!")

In [ ]:
func7(6)
func7(19283)
func7(33550336)

6 is a Perfect number!
19283 is not a Perfect number!
33550336 is a Perfect number!

Calculates average in a list

In [1]:
def func8(numbers):
  if len(numbers) == 0:
    return 0
  print(sum(numbers) / len(numbers))

In [7]:
numbers = [1, 3, 7, 3, 28, 123, 852, -18]
func8(numbers)
numbers = [56]
func8(numbers)
numbers = []
func8(numbers)

124.875
56.0

0

Find the maximum number in a list

In [13]:
def func9(numbers):
  if len(numbers) == 0:
    return None
  print(max(numbers))

In [15]:
numbers = [1, 54245, 445443, 937834, 2]
func9(numbers)
numbers = [-14534, -5768, -76753, -347]
func9(numbers)
numbers = [38]
func9(numbers)

937834
-347
38

Counts how many times a certain item is listed in a list

In [18]:
def func10(items):
  occurrences = {}
  for item in items:
    occurrences[item] = occurrences.get(item, 0) + 1
  print(occurrences)

In [20]:
items = [65394, 984352, -657441, 984352, 65394, 65394, -657441, 984352, 65394, 984352, -657441]
func10(items)
items = ['Terracotta pie', 'banana', 'banana', 'banana', 'banana', 'banana', 'banana', 'banana', 'banana', 'banana', 'banana', 'banana', 'banana', 'banana', 'banana', 'banana', 'banana', 'banana', 'banana', 'banana', 'banana', 'banana', 'banana', 'banana', 'banana', 'banana', 'banana', 'banana', 'banana', 'banana', 'banana', 'banana', 'banana', 'banana', 'banana', 'banana', 'banana', 'banana', 'banana', 'banana', 'banana', 'banana', 'banana', 'banana', 'banana', 'banana', 'banana', 'banana', 'banana', 'banana', 'banana', 'banana', 'banana', 'banana', 'banana', 'banana', 'banana', 'Terracotta pie', 'Terracotta pie', 'Terracotta pie', 'Terracotta pie', 'Terracotta pie', 'Terracotta pie', 'Terracotta pie', 'Terracotta pie', 'Terracotta pie', 'Terracotta pie', 'Terracotta pie', 'Terracotta pie', 'Terracotta pie', 'Terracotta pie', 'Terracotta pie', 'Terracotta pie', 'Terracotta pie', 'Terracotta pie', 'Terracotta pie', 'Terracotta pie']
func10(items)
items = [1, 'Terracotta pie', 'Terracotta pie', 984352, 'banana', 984352, 'Terracotta pie']
func10(items)

{65394: 4, 984352: 4, -657441: 3}
{'Terracotta pie': 21, 'banana': 56}
{1: 1, 'Terracotta pie': 3, 984352: 2, 'banana': 1}